  


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .contact-me-area .contact-me .contact-me-title h4,
    .site-main .contact-me-area .contact-me .contact-me-title .links a >i,
    
    .site-main .contact-me-area .contact-me
    {
        padding: 2%;
        margin: 0%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 35px;
    }

   

    .site-main .contact-me-area .contact-me .contact-me-title h4{

        font-size: 20px;

    }

}


/* if the viewport is equal to 340px or less than that */ 
@media only screen and (max-width: 792px){
    .site-main .about-area .about-title h2 > span{
        font-size: 31px;
        letter-spacing: 10px;
    }

    .site-main .about-area .about-title p{
        padding: 0%;
    }

    .site-main .contact-me-area .contact-me .contact-me-title .links{
        width: 20rem;
        margin: 5%;
    }

    .site-main .site-banner .site-title h1{
        font-size: 40px;
    }
}



/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .about-area{
        padding: 3% 4%;
    }


}