/* importing fonts */
@import url(./fonts.css);

/* importing variables */

@import url(./partials/_variables.css);


/* importing global file */

@import url(./partials/_global.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding:0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--raleway);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
/* end navigation */

/* Start Banner Area */



.site-main .site-banner .site-title h3 {

    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
     
    content:"";
    height: 2px;
    width: 12vw;
    background: black;
    margin-left: 5%;
    transform: translateY(-10px);

}

.site-main .site-banner .site-title h1 {
     
    font-size: 4rem;
 

}

.site-main .site-banner .site-title h4 {
     
    font-size: 1.5rem;

}

.site-main .site-banner .banner-image > img{

    padding: 7rem 0;
    width:  90rem;

}

/* End Banner Area */

/* Start About Area */

.site-main .about-area{
 
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2>span {

    display: block;
    font:normal  49px/60px var(--raleway);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph > p {
    padding: .4rem 0;
}

/* End About Area */

/* Start of Contact Area */

.site-main .contact-me-area .contact-me{
    
    padding: 5rem 0;
    margin: 3rem auto;
    background: var(--gradient-color);
    background-clip: padding-box;
    box-shadow: var(--box-shadow);
}

.site-main .contact-me-area .contact-me .contact-me-title h4{
    
    display: block;
    font:normal  30px/ 30px var(--raleway);
    color: whitesmoke;
}

.site-main .contact-me-area .contact-me .contact-me-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .contact-me-area .contact-me .links {
  display:flex;
   
} 

.site-main .contact-me-area .contact-me .links a{
    color: whitesmoke;
   
} 

.site-main .contact-me-area .contact-me .links a:hover{
    color: var(--gradient-color);
    
} 


.site-main .contact-me-area .contact-me .links a>i{
 
    padding: .7rem 2rem; 

} 



/* End of Contact Area */

/* Footer Area */ 

footer.footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .footer-link .para{
    font: normal 500 18px/25px var(--raleway);
}



/* End Footer */ 

html {
    scroll-behavior: smooth;
  }